#switch-page-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: black;
  color: white;
  border: 2px solid white;
  transition: all 0.2s ease-in-out;
}

#switch-page-button:hover {
  background-color: white;
  color: black;
  border-color: black;
  transform: translateY(-2px);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
}

#switch-page-button:active {
  transform: translateY(2px);
  box-shadow: none;
}

#linkBox {
  opacity: 0;
  transform: scale(0);
  animation: open-box 0.7s ease-out forwards;

  width: 30%;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  border: 2px solid white;
  z-index: 0;
}

#linkBox ul {
  font-size: large;
  list-style-type: none;
  text-align: center;
  padding: 0;
  opacity: 0;
  animation: show-item 3.0s ease-out forwards;
}

#linkBox a {
  transition: font-size 0.2s ease-out;
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px 0;
}

#linkBox a:hover {
  font-size: 110%;
}

#heading {
  font-size: x-large;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  z-index: 1;
  margin-left: -10px;
}

body {
    background-color: black;
    overflow: hidden;
}

h1 {
    color: white;
    user-select: none;
    font-family: 'VT323', monospace;
    margin-left: 20px; 
}
  
.star {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: white;
}

.laser {
    position: absolute;
    width: 3px;
    height: 6px;
    background-color: red;
  }

#ship {
    user-select: none;
    image-rendering: pixelated;
    position: absolute;
    top: 50%;
    left: 25%;
    scale: 2;
    transform-origin: center center;
    transform: translate(-50%, -50%);
}

#enemy-github {
    user-select: none;
    image-rendering: pixelated;
    position: absolute;
    right: 30%;
    top: 50%;
    scale: 2;
    transform: translateY(-50%);
    animation: float 3s ease-in-out infinite;
}

/* _Animation Keyframes_ */

/* Floating Game Enemy */
@keyframes float {
  0% {
    transform: translateY(-50%) translateY(-2px);
  }
  50% {
    transform: translateY(-50%) translateY(2px);
  }
  100% {
    transform: translateY(-50%) translateY(-2px);
  }
}
/* Slowly Show Box Items */
@keyframes show-item {
  to {
    opacity: 1;
  }
}

/* Grow Box Animation*/
@keyframes open-box {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Change Sizings on Mobile */
@media (max-width: 767px) {
  body {
    zoom: 125%;
  }

  #linkBox {
    width: 50%;
  }
}
